<h1><%= @store.name() %></h1>
<form action="/stores/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>new name:</label>
  <input type="text" name="name" value="<%= @store.name() %>">
  <button type="submit">change</button>

</form>

<h2>what brands are sold here</h2>

<% if @store.brands.any?() %>
  <ul>
    <% @store.brands.each() do |brand| %>
      <li><%= brand.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no brands added yet</p>
<% end %>

<h2>update what brands are sold here</h2>

<form action="/stores/<%= @store.id() %>" method="post">
  <div class="checkbox">
    <% if @brands.any?() %>
      <% @brands.each() do |brand| %>

        <label name="brand_ids">
          <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>">
          <%= brand.name() %>
        </label>
      <% end %>

    <% else %>

      <p>There are no brands yet!</p>
    <% end %>
  </div>
  <button type="submit" name="button">Sold here</button>
</form>

<a href="/">home</a>
